body {
  background-size: cover;
  background-color: antiquewhite;
  font-family: 'Lato', sans-serif;
}

.parallax-container {
  height: 275px;
}

.title {
  color: white;
  font-family: 'Rancho', cursive;
  font-size: 6rem;
  text-align: center;
}

h2 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.email-address {
  font-style: italic;
  word-break: break-all;
}

.social {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
